.containerBanner {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bannerImg {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
}

.bannerFilter {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
}

.bannerTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, .7);
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}

@media all and (max-width: 375px) {
    .bannerImg {
        width: 90%;
        margin: auto;
        border-radius: 10px;
    }

    .bannerFilter {
        width: 90%;
        margin: auto;
        border-radius: 10px;
    }

    .bannerTxt {
        width: 70%;
        font-size: 24px;
        text-align: left;
        padding-right: 40px;
    }
}

@media all and (min-width: 376px) and (max-width: 767px) {
	.bannerImg {
        width: 95%;
    }

    .bannerFilter {
        width: 95%;
    }
}

@media all and (min-width: 768px) and (max-width: 1499px) {
	.bannerImg {
        width: 95%;
    }

    .bannerFilter {
        width: 95%;
    }
}

@media all and (min-width: 1500px) {
	.containerBanner {
        max-width: 100%;
	}
}