.containerFooter {
    display: flex; 
    justify-content: center;
    margin-top: 2%;
    padding: 4%;
    background-color: black;
}

.footerBalance {
    display: flex;
    flex-direction: column;
}

.logo-kasaF{
    display: flex;
    justify-content: center;
}

.allRights {
    color: white;
    font-size: 24px;
}

@media only screen and (max-width: 1200px) {
    .containerFooter {
        padding: 2%;
    }

    .allRights {
        font-size: 24px;
    }
}

@media only screen and (max-width: 960px) {
    .containerFooter {
        padding: 5%;
    }

    .allRights {
        font-size: 24px;
        padding-top: 2%;
    }
}

@media only screen and (max-width: 512px) {
    .containerFooter {
        padding: 15%;
    }

    .allRights {
        font-size: 12px;
    }
}