.cardContainer {
    display: flex;
    align-items: flex-end;
    width: 340px;
    height: 340px;
    margin: 25px;
}

.cardImg {
    object-fit: cover;
    width: 340px;
    height: 340px;
    border-radius: 25px;
}

article:hover {
    box-shadow: 0px 0px 20px #454748;
    border-radius: 25px;
}

.cardFilter {
    width: 340px;
    height: 340px;
    border-radius: 25px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.cardTxt {
    position: absolute;
    width: 300px;
    height: 35px;
    line-height: 142.6%;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 20px;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 960px) {
    .cardContainer {
        width: 80%;
        height: auto;
    }

    .cardImg {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .cardFilter {
        width: 80%;
        height: auto;
        margin: auto;
    }
}

@media only screen and (max-width: 512px) {
    .cardContainer {
        width: 335px;
        height: 255px;
        margin: 10px;
    }

    .cardImg {
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }

    .cardFilter {
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }
}