.locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerSlides {
    display: flex;
    justify-content: space-around;
}

.containerHost {
    flex-flow: column;
}

.locationTitle {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: 500;
    color:#FF6060;
}

.locationInfo {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color:#FF6060;
}

.locationLocalisation {
    display: flex;
}

.profil {
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.hostName {
    font-size: 18px;
    padding-right: 10px;
    color:#FF6060;
}

.locationCollapse {
    display: flex;
}

.locationCollapse .collapseRoll {
    width: 550px;
}

.locationCollapse .collapseDescription {
    width: 550px;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin-top: 4%;
}

.locationRating {
    display: flex;
}

.namePict {
    display: flex;
    width: 20px;
}

ul {
    list-style-type: none;
}

@media all and (max-width: 375px) {
    .location {
        width: 90%;
        display: inline;
    }

    .locationCollapse {
        width: 90%;
        flex-flow: column;
        padding-bottom: 20%;
    }

    .locationCollapse .collapseRoll {
        width: 335px;
    }

    .locationCollapse .collapseDescription {
        width: 335px;
    }

    ul {
        padding: 0;
    }

    .collapseRoll .collapseArrow {
        width: 14px;
        height: 11px;
    }

    .locationTitle {
        font-size: 18px;
        margin-top: 15px;
    }

    .locationLocalisation {
        font-size: 14px;
    }

    .hostName {
        font-size: 12px;
    }

    .tag {
        font-size: 10px;
    }

    .containerRating .star {
        width: 15px;
        height: 15px;
    } 

    .containerHost {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        justify-content: space-between;
        width: 80%;
    }

    .profil {
        width: 32px;
        height: 32px;
        margin: auto;
    }
}

@media all and (min-width: 376px) and (max-width: 767px) {
    .location {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .locationTitle {
        font-size: 18px;
        margin-top: 15px;
    }

    .locationInfo {
        width: 90%;
    }

    .locationLocalisation {
        font-size: 16px;
    }

    .containerHost {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin-top: 25px;
    }

    .hostName {
        font-size: 12px;
    }

    .tag {
        font-size: 10px;
    }

    .containerRating .star {
        width: 17px;
        height: 17px;
    }
    
    .profil {
        width: 35px;
        height: 35px;
        margin: auto;
    }

    .locationCollapse {
        flex-flow: column;
        padding-bottom: 20%;
    }

    .locationCollapse .collapseRoll {
        width: 347px;
    }

    .locationCollapse .collapseDescription {
        width: 347px;
    }

    .locationCollapse .collapseDescription {
        padding: 25px 0px 15px 12px;
    }
}

@media all and (min-width: 768px) and (max-width: 1499px) {
    .location {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .locationTitle {
        font-size: 28px;
    }

    .locationCollapse {
        flex-flow: column;
        padding-bottom: 20%;
    }

    .locationCollapse .collapseDescription {
        padding: 25px 9px 15px 12px;
    }

    .locationInfo {
        width: 78%;
    }

    .star {
        width: 20px;
        height: 20px;
    }
}

@media all and (min-width: 1500px) {

}