.locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerSlides {
    display: flex;
    justify-content: space-around;
}

.containerHost {
    flex-flow: column;
}

.locationTitle {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: 500;
    color:#FF6060;
}

.locationInfo {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color:#FF6060;
}

.locationLocalisation {
    display: flex;
}

.profil {
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.hostName {
    font-size: 18px;
    padding-right: 10px;
    color:#FF6060;
}

.locationCollapse {
    display: flex;
}

.locationCollapse .collapseRoll {
    width: 550px;
}

.locationCollapse .collapseDescription {
    width: 550px;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin-top: 5%;
}

.locationRating {
    display: flex;
}

.namePict {
    display: flex;
    width: 20px;
}

ul {
    list-style-type: none;
}

@media only screen and (max-width: 960px) {
    .location {
        width: 70%;
        margin-top: 40px;
    }

    .locationTitle {
        font-size: 24px;
    }

    .locationCollapse {
        flex-flow: column;
        padding-bottom: 20%;
    }

    .locationCollapse .collapseDescription {
        padding: 20px 0px 15px 7px;
    }

    .locationInfo {
        width: 92%;
    }

    .namePict {
        display: flex;
        width:28%;
    }
    
    .hostName {
        font-size: 15px;
    }

    .namePict {
        font-size: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .location {
        width: 90%;
        display: inline;
    }

    .locationCollapse {
        width: 90%;
        flex-flow: column;
        padding-bottom: 20%;
    }

    .locationCollapse .collapseRoll {
        width: 335px;
    }

    .locationCollapse .collapseDescription {
        width: 335px;
    }

    ul {
        padding: 0;
    }

    .locationTitle {
        font-size: 18px;
    }

    .locationLocalisation {
        font-size: 14px;
    }

    .hostName {
        font-size: 12px;
    }

    .tag {
        font-size: 10px;
    }

    .containerRating {
        display: flex;
        align-items: center;
        width: 15px;
        height: 15px;
    } 

    .containerHost {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        justify-content: space-between;
    }

    .profil {
        width: 32px;
        height: 32px;
        margin: auto;
    }

    .indexPictures {
        font-size: 15px;
    }
}