.locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerSlides {
    display: flex;
    justify-content: space-around;
}

.containerHost {
    flex-flow: column;
}

.locationTitle {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: 500;
    color:#FF6060;
}

.locationInfo {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color:#FF6060;
}

.locationLocalisation {
    display: flex;
}

.profil {
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.hostName {
    font-size: 18px;
    padding-right: 10px;
    color:#FF6060;
}

.locationCollapse {
    display: flex;
}

.locationCollapse .collapseRoll {
    width: 550px;
}

.locationCollapse .collapseDescription {
    width: 550px;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin-top: 3%;
}

.locationRating {
    display: flex;
}

.namePict {
    display: flex;
    width: 20px;
}

ul {
    list-style-type: none;
}

@media all and (max-width: 375px) {
    .locationContainer .slideshowImage {
        width: 335px;
        height: 255px;
        margin: auto;
    }

    .locationContainer .arrowNext {
        width: 12px;
        height: 20px;
    }

    .locationContainer .arrowPrev {
        width: 12px;
        height: 20px;
    }

    .location {
        width: 90%;
    }

    .locationContainer .indexPictures {
        bottom: 60%;
    }

    .locationCollapse {
        width: 90%;
        flex-flow: column;
    }

    .locationContainer .slideshowArrowNext {
        top: 25%;
    }

    .locationContainer .slideshowArrowPrev {
        top: 25%;
        left: 91.5%;
    }

}