.slideshowContainer {
    margin-bottom: -5%;
    position: relative;
}

.slideshowImage {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.slideshowArrowNext,
.slideshowArrowPrev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: auto;
}

.slideshowArrowPrev {
    right: 0;
}

.indexPictures {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    margin-top: -40px;
    color: #FFFFFF;
}

@media all and (max-width: 375px) {
    .slideshowImage {
        width: 335px;
        height: 255px;
        margin: auto;
    }

    .arrowNext {
        width: 12px;
        height: 20px;
    }

    .arrowPrev {
        width: 12px;
        height: 20px;
    }

    .indexPictures {
        font-size: 12px;
    }
}

@media all and (min-width: 376px) and (max-width: 512px) {
    .slideshowImage {
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
    }
    
    .arrowNext {
        width: 28%;
    }

    .arrowPrev {
        width: 28%;
    }

    .slideshowArrowNext {
        left: 2%;
    }

    .slideshowArrowPrev {
        right: 2%;
    }
}

@media all and (min-width: 513px) and (max-width: 767px) {
    .slideshowImage {
        width: 100%;
    }
    
    .arrowNext {
        width: 40%;
    }

    .arrowPrev {
        width: 40%;
    }
}

@media all and (min-width: 768px) and (max-width: 1499px) {
    .slideshowImage {
        width: 850px;
    }

    .indexPictures {
        bottom: 49%;
    }
}

@media all and (min-width: 1500px) {
}