.slideshowImage {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.slideshowArrowNext,
.slideshowArrowPrev {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    width: 46.68px;
    height: auto;
    cursor: pointer;
    margin: auto;
}

.slideshowArrowPrev {
    left: 84%;
}

.indexPictures {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateY(-40%);
    font-size: 18px;
    color: #FFFFFF;
}

.slideshowContainer {
    margin-bottom: -5%;
}

@media all and (max-width: 375px) {
    .slideshowImage {
        width: 335px;
        height: 255px;
        margin: auto;
    }

    .arrowNext {
        width: 12px;
        height: 20px;
    }

    .arrowPrev {
        width: 12px;
        height: 20px;
    }

    .slideshowArrowNext {
        top: 20%;
    }

    .slideshowArrowPrev {
        top: 20%;
        left: 92%;
    }

    .indexPictures {
        bottom: 71%;
    }
}

@media all and (min-width: 376px) and (max-width: 512px) {
    .slideshowImage {
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
    }
    
    .arrowNext {
        width: 28%;
    }

    .arrowPrev {
        width: 28%;
    }

    .slideshowArrowNext {
        top: 22%;
        left: 5%;
    }

    .slideshowArrowPrev {
        top: 22%;
        left: 92%;
    }
    
    .indexPictures {
        bottom: 63%;
    }
}

@media all and (min-width: 513px) and (max-width: 767px) {
    .slideshowImage {
        width: 100%;
    }
    
    .arrowNext {
        width: 40%;
    }

    .arrowPrev {
        width: 40%;
    }

    .slideshowArrowNext {
        top: 38%;
        left: 4%;
    }

    .slideshowArrowPrev {
        top: 38%;
        left: 93%;
    }
    
    .indexPictures {
        bottom: 50%;
    }
}

@media all and (min-width: 768px) and (max-width: 1499px) {
    .slideshowImage {
        width: 100%;
    }

    .slideshowArrowNext,
    .slideshowArrowPrev {
        top: 30%;
    }

    .slideshowArrowPrev {
        left: 82%;
    }

    .indexPictures {
        bottom: 49%;
    }
}

@media all and (min-width: 1500px) {
    .slideshowArrowNext,
    .slideshowArrowPrev {
        top: 36%;
    }
    
    .indexPictures {
        bottom: 46%;
    }
}