.aboutContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

@media only screen and (max-width: 1200px) {
	.aboutContainer {
        max-width: 1240px;
        margin: auto;
        padding-bottom: 10%;
	}
}

@media only screen and (max-width: 512px) {
	.aboutContainer {
        width: 100%;
        margin: auto;
        padding-bottom: 30%;
	}

    .cardBanner .bannerFilter {
        height: 223px;
    }
}
