.aboutContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

@media all and (max-width: 375px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 45%;
    }

}