nav a {
    font-size: 24px;
    font-weight: 500;
    margin-left: 50px;
    color: #FF6060;
    text-decoration-line: none;
}

@media all and (max-width: 375px) {
	nav a {
		font-size: 12px;
        text-transform: uppercase;
        margin-left: 20px;
	}
}

@media all and (min-width: 414px) and (max-width: 768px) {

}