nav a {
    font-size: 24px;
    font-weight: 500;
    margin-left: 50px;
    color: #FF6060;
    text-decoration-line: none;
}

@media only screen and (max-width: 960px) {
	nav a {
        font-size: 18px;
        margin-left: 20px;
	}
}

@media only screen and (max-width: 512px) {
	nav a {
		font-size: 12px;
        text-transform: uppercase;
        margin-right: 0px;
	}
}